body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0.01%;
    max-width: 600px;
    min-width: 600px;
    background-color: #dfe6e9;
    text-align: center;
  }
  h3 {
    padding: 0;
    font-weight: 900;
    font-size: 200%;
    text-align: center;
    margin-top: 4rem;
    color: #078570;
    line-height: 1.2;

  }
  button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #078570;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    margin: 2%;
  }
  img {
    max-width: 50%;
  }
  input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color:#078570;
    font-weight: 300;
  }
  form {
    padding: 20px 0;
    position: relative;
  }
  h4 {
    font-weight: 900;
    font-size: 150%;
    text-align: center;
    color: #37b6a1;
    line-height: 1.2;

  }
  .event{
    width: 700px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 5px solid #078570; 
    outline: 5px dotted #078570;
    outline-offset: -20px;
  }