body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0.01%;
    min-width: 600px;
    background-image: url("https://images8.alphacoders.com/123/1239296.jpg");
    text-align: center;
  }
  h3 {
    padding: 0;
    font-weight: 900;
    font-size: 200%;
    text-align: center;
    margin-top: 4rem;
    color: #b16ed8;
    line-height: 1.2;

  }
  button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #078570;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    margin: 2%;
  }
  img {
    max-width: 70%;
  }
  input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color:#078570;
    font-weight: 300;
  }
  form {
    padding: 20px 0;
    position: relative;
  }
  h4 {
    font-weight: 900;
    font-size: 150%;
    text-align: center;
    color: #43dfeb;
    border: 2px solid #000;
    padding: 10px;
    background-color: rgb(60, 71, 77);
    margin-left: 10%;
    margin-right: 10%;
  }
  .event{
    width: 1100px;
    height: 830px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 0;
    border: 5px solid #43dfeb; 
    outline: 5px dotted #43dfeb;
    outline-offset: -20px;
    background-image: url("https://images.unsplash.com/photo-1617791160505-6f00504e3519?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHxDVFJUdTk0ZnU5b3x8ZW58MHx8fHw%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .event h4 {
    text-align: left;
    padding-left: 10%;
  }
  .eventName {
    text-align: center !important;
    padding: 10px 0 !important;
    margin-left: 30%;
    margin-right: 30%;
  }
  hr {
    border: none;
    height: 4px;
    background-image: linear-gradient(to right, #782ba5, #914fb8 20%, #43dfeb 20%, #43dfeb 80%, #914fb8 80%, #782ba5);
  }